:root {
  --background: #d8b6b624; 
  /* --textcolor: #BFA181; */
  --textcolor: rgb(162, 12, 12); 
}

body {
  background-color: var(--background);
  color: var(--textcolor); 
  font-family: 'Lato', sans-serif;
}

#nba-teams-div {
  display: inline;
}

h1 {
  font-size: 40pt;
  text-decoration: underline;
}

.columns {
  display: flex; 
  flex-wrap: wrap; 
}

.team {
  padding: 10px; 
  margin: 10px; 
  background: lightblue; 
  border-radius: 5px; 
}

.dialog {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 0px 5px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.transparent {
  opacity: 0;
}


#displayTeam {
  background-color: rgb(189, 173, 173); 
  padding: 10px; 
  width: 25%; 
}


#add-player {
  color: blue; 
  font-size: 0.75em; 
  text-align: right; 
}

#players-p input {
  margin-top: 5px; 
}
