:root {
  --background: #d8b6b624; 
  /* --textcolor: #BFA181; */
  --textcolor: rgb(162, 12, 12); 
}

body {
  background-color: var(--background);
  color: var(--textcolor); 
  font-family: 'Lato', sans-serif;
}

#nba-teams-div {
  display: inline;
}

h1 {
  font-size: 40pt;
  text-decoration: underline;
}
